@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    
    padding: 10;
    margin: 10;
}
h1{
    color: rgb(8, 8, 48);
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    text-align:center;
    font-weight: bold;
 }

 input[type="text"],input[type="email"],input[type="password"],input[type="number"]{
    width: 100%;
    height: 50%;
    border: 1px solid black;
    background-color:inherit;

}

.form-control{
    border: 5px solid black;
}
h2{
    color: rgb(8, 8, 48);
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    text-align:left;
    font-weight: bold;
 }
 .form-label{
    font-weight: bold;
    color: midnightblue;
 }
 
